.navbar-brand img {
    height: 50px;
}

.fas {
    color: grey;
}

.w_captionText {
    font-size: 1em;
}

.w_content_container {
    padding: 10px;
}

.autocomplete li {
    background-color: grey;
    padding: 0px 70px 0px 70px;
}