.navbar-brand img {
    height: 50px;
}

.fas {
    color: grey;
}

.w_captionText {
    font-size: 1em;
}

.w_content_container {
    padding: 10px;
}

.autocomplete li {
    background-color: grey;
    padding: 0px 70px 0px 70px;
}

.menu-category-entry {
    margin-bottom: 8rem;
}

.menu-category-entry .article-image {
    height: 12rem;
}

.menu-category-name {
    border-bottom: 1px solid #bee5eb;
    padding-bottom: 1rem;
}

.card {
    margin-bottom: 1rem;
}

#login-form-body {
    background-image: url("https://images.freeimages.com/images/large-previews/42d/cafe-1485059.jpg");
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.login-form {
    background-color: white;
    width: 40%;
    margin-top: 100px;
    padding: 40px;
}